body {
    background-color: mediumslateblue;
}

.header {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    position: sticky;
    top: 0;
    background-color: royalblue;
    color: white;
    padding: 30px;
    font-family: 'Caveat', cursive;
}

html, body {
    padding: 0;
    margin: 0;
}

#sentiment {
    width: 65%;
    margin: 20px auto 10px auto;
    text-align: center;
    border: blue 5px solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px indigo;
}

.positivehov:hover, .positivehov:active {
    background-color: rgb(110, 251, 110) !important; 
}

.negativehov:hover, .negativehov:active {
    background-color: rgb(243, 104, 104) !important; 
}

.positivehov:hover, .positivehov:active, .negativehov:hover, .negativehov:active {
    cursor: pointer;
}

#sentiment:active > h3, #sentiment:hover > h3 {
    font-size: 24px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

h4 {
    font-family: 'Rubik', sans-serif;
}

h3 {
    font-family: 'Anton', sans-serif;
}

#badge {
    width: 50px;
    height: 50px;
}

#sub {
    text-align: center;
    margin: 40px auto 40px auto;
    border: 5px black solid;
    width: 90%;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.input {
    width: 50%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.button {
    background-color: firebrick;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    color: floralwhite;
    border: 5px whitesmoke solid;
    border-radius: 6px;
}

.button:active, .button:hover {
    background-color: crimson;
}

.label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerDescription {
    font-size: 36px;
    text-align: center;
    color: white;
}

.description {
    font-family: 'Ubuntu Mono', monospace;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
    font-size: 20px;
}

.command {
    background-color: darkgray;
    color:darkgoldenrod;
}

.technology {
    display: inline-block;
    width: 150px;
    height: 150px;
}

.tech-div {
    display: inline-block;
    text-align: center;
    margin: 20px 50px 20px 50px;
}

.container {
    margin: 30px auto 30px auto;
    text-align: center;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: ghostwhite;
}

.tech-p {
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    color:gold;
}

#checkbox {
    text-align: center;
    margin-top: 20px;
}

.hideBox {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
}