body {
    background-color: mediumslateblue;
}

.header {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    position: sticky;
    top: 0;
    background-color: royalblue;
    color: white;
    padding: 30px;
    font-family: 'Caveat', cursive;
}

html, body {
    padding: 0;
    margin: 0;
}

#sentiment {
    width: 65%;
    margin: 20px auto 20px auto;
    text-align: center;
    border: blue 5px solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px indigo;
}

.positivehov:hover, .positivehov:active {
    background-color: rgb(110, 251, 110) !important; 
}

.negativehov:hover, .negativehov:active {
    background-color: rgb(243, 104, 104) !important; 
}

.positivehov:hover, .positivehov:active, .negativehov:hover, .negativehov:active {
    cursor: pointer;
}

#sentiment:active > h3, #sentiment:hover > h3 {
    font-size: 24px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

h4 {
    font-family: 'Rubik', sans-serif;
}

h3 {
    font-family: 'Anton', sans-serif;
}

#badge {
    width: 50px;
    height: 50px;
}

#sub {
    text-align: center;
    margin: 40px auto 40px auto;
    border: 5px black solid;
}

a {
    text-decoration: none;
}

.input {
    width: 50%;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.button {
    background-color: firebrick;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    color: floralwhite;
    border: 5px whitesmoke solid;
    border-radius: 6px;
}

.button:active, .button:hover {
    background-color: crimson;
}

.label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}