<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sentiment Analysis API with FastAPI</title>
    
    <!--Favicon-->
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet"> 

    <!--External .css stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" type="text/css">
</head>
<body>
    <div class="header">
        Sentiment Analysis API with TensorFlow 2.x & FastAPI
    </div>

    {% for sentiment in sentiments %}
    <h1>Content: {{ sentiment.content }} - Description: {{ sentiment.description }} - Sentiment: {{ sentiment.value }}</h1>
    {% endfor %}
</body>
</html>