<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sentiment Analysis API with FastAPI</title>
    
    <!--Favicon-->
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet"> 

    <!--External .css stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" type="text/css">
</head>
<body>
    <div class="header">
        Sentiment Analysis API with TensorFlow 2.x & FastAPI
    </div>

    {% for sentiment in sentiments %}
    <div id="sentiment" class="{{ sentiment.sentiment + 'hov' }}"
     onclick="location.href='{{ url_for('read_sentiment', id=sentiment.id) }}'">
        <h3>{{ sentiment.content }}</h3>
        <h4>description: {{ sentiment.description }}</h5>
        <h4>sentiment: <span class="{{ sentiment.sentiment }}">{{ sentiment.sentiment.upper() }}</span></h5>
        <h4>created at: {{ sentiment.created_at }}</h5>
        {% if sentiment.sentiment == "positive" %}
            <img id="badge" src="{{ url_for('static', path='img/positive.png') }}">
        {% else %}
            <img id="badge" src="{{ url_for('static', path='img/negative.png') }}">
        {% endif %}
        
    </div>
    <button class="button" type="submit" style="display: block; margin-left:auto; margin-right:auto"
    onclick="location.href='{{ url_for('delete_button', id=sentiment.id) }}'"
    >DELETE</button>
    {% endfor %}

    <div id="sub">
        <form method="POST" action="/">
            <h3>SUBMIT YOUR SENTIMENT!</h3>
            <label class="label" for="content">CONTENT: </label>
            <input class="input" name="content" placeholder="Your sentiment">
            <br>
            <label class="label" for="description">DESCRIPTION: </label>
            <input class="input" name="description" placeholder="Your description" style="width: 30%;">
            <br>
            <button class="button" type="submit">SUBMIT</button>
        </form>
    </div>

    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>