<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sentiment Analysis API with FastAPI</title>
    
    <!--Favicon-->
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 

    <!--External .css stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" type="text/css">
</head>
<body>
    <div class="header">
        Sentiment Analysis API with TensorFlow 2.x & FastAPI
    </div>

    {% for sentiment in sentiments %}
    <div id="sentiment" class="{{ sentiment.sentiment + 'hov' }}"
     onclick="location.href='{{ url_for('read_sentiment', id=sentiment.id) }}'">
        <h3>{{ sentiment.content }}</h3>
        <h4>description: {{ sentiment.description }}</h5>
        <h4>sentiment: <span class="{{ sentiment.sentiment }}">{{ sentiment.sentiment.upper() }}</span></h5>
        <h4>created at: {{ sentiment.created_at }}</h5>
        {% if sentiment.sentiment == "positive" %}
            <img id="badge" src="{{ url_for('static', path='img/positive.png') }}">
        {% else %}
            <img id="badge" src="{{ url_for('static', path='img/negative.png') }}">
        {% endif %}
        
    </div>
    <button class="button" type="submit" style="display: block; margin-left:auto; margin-right:auto"
    onclick="location.href='{{ url_for('delete_button', id=sentiment.id) }}'"
    >DELETE</button>
    {% endfor %}

    <div id="sub">
        <form method="POST" action="/">
            <h3 style="font-size: 30px;">SUBMIT YOUR SENTIMENT!</h3>
            <label class="label" for="content">CONTENT: </label>
            <input class="input" name="content" placeholder="Your sentiment">
            <br>
            <label class="label" for="description">DESCRIPTION: </label>
            <input class="input" name="description" placeholder="Your description" style="width: 30%;">
            <br>
            <button class="button" type="submit">SUBMIT</button>
        </form>
    </div>

    <h3 class="headerDescription">How does it work?</h3>

    <p class="description">You can easily in a second predict sentiment of your sentence! This application was designed with usage of REST principles,
        where you are able to perform CRUD operations, likely for typical APIs. To make a prediction you can fill in a form
        on this webpage or execute a specific command in terminal:
        <br>
        <span class="command">$ http --json POST http://sentiment-fastapi.herokuapp.com/sentiments/ content="/your_sentiment/>" description="/your_description/"</span>
        <br>
        Click <a href="{{ url_for('read_all_sentiments') }}">HERE</a> to get a list of all sentiments created so far in JSON format or type in shell:
        <br>
        <span class="command">$ http GET http://sentiment-fastapi.herokuapp.com/sentiments/</span>
        <br>
        You can also take a deeper look into a specific sentiment details 
        (also in JSON format) by clicking sentiment element on this webpage or try running in command line:
        <br>
        <span class="command">$ http GET http://sentiment-fastapi.herokuapp.com/sentiments/{id}/</span>
        <br>
        If you want to delete sentiment just hit a button or run in terminal:
        <br>
        <span class="command">$ http DELETE http://sentiment-fastapi.herokuapp.com/sentiments/{id}/</span>
        <br>
        You can also perform update operation by typing in a shell:
        <br>
        <span class="command">$ http GET http://sentiment-fastapi.herokuapp.com/sentiments/{id}/ content="/your_sentiment/>" description="/your_description/"</span>
    </p>

    <h3 class="headerDescription">Technology stack</h3>

    <div class="container">
            <p class="tech-p">App core structure:</p>
        <div>
            <div class="tech-div">
                <img class="technology" src="{{ url_for('static', path='img/python.png') }}">
                <h5>Python 3.9</h6>    
            </div>
            <div class="tech-div">
                <img class="technology" src="{{ url_for('static', path='img/fastapi.png') }}">
                <h5>FastAPI</h6> 
            </div>
        </div>
    </div>

    <div class="container">
        <p class="tech-p">Sentiment predictor:</p>
    <div>
        <div class="tech-div">
            <img class="technology" src="{{ url_for('static', path='img/tensorflow2.png') }}">
            <h5>Tensorflow 2.6</h6>    
        </div>
        <div class="tech-div">
            <img class="technology" src="{{ url_for('static', path='img/numpy.png') }}">
            <h5>NumPy</h6> 
        </div>
        <div class="tech-div">
            <img class="technology" src="{{ url_for('static', path='img/pandas.png') }}">
            <h5>Pandas</h6> 
        </div>
    </div>
    </div>
    

    <div class="container">
        <p class="tech-p">Page layout:</p>
    <div>
        <div class="tech-div">
            <img class="technology" src="{{ url_for('static', path='img/html5.png') }}">
            <h5>HTML5</h6>    
        </div>
        <div class="tech-div">
            <img class="technology" src="{{ url_for('static', path='img/css3.png') }}">
            <h5>CSS3</h6> 
        </div>
        <div class="tech-div">
            <img class="technology" src="{{ url_for('static', path='img/javascript.png') }}">
            <h5>JavaScript</h6> 
        </div>
        <div class="tech-div">
            <img class="technology" src="{{ url_for('static', path='img/jinja2.png') }}">
            <h5>Jinja2</h6> 
        </div>
    </div>
    </div>

    <h3 class="headerDescription">There is more...</h3>
    <p class="description">
        If you want to check out my predicting model & training process, see Jupyter Notebook
         <a href="">file</a>
          fore more 😉.
    </p>

    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>